html,
body,
main {
  height: 100%;
}

body {
  background-color: #f7f8fd;
}

main {
  max-width: 1110px;
  margin-inline: auto;
  padding-block: 94px 0;

  display: flex;
  gap: 30px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #cfd7ff;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
